
.container {
    max-width: 1170px;
    margin: 0 auto;
    
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 1170px;

    

}

[class*=col] {
    height: 10vh;
    background-color: blue;
    border: 1px inset white;
}


@media screen and (min-width: 576px){
    [class*=col] {
        width: 30%;
    }
}


@media screen and (min-width: 768px){
    [class*=col] {
        width: 60%;
        
    }
}

@media screen and (min-width: 992px){
    [class*=col] {
        width: 100%;
    }
}

    

